
.title {
    display: flow;
    flex-flow: column wrap;
    background-color: $off-black;
    height: 100%;
    border-radius: $m-size;
    flex-grow: 1;

}

.title-header {
    color: white;
    font-size: $l-size;
    text-shadow: 3px 1px 4px rgba(0, 0, 0, 0.219);
    width: 80%;
    margin: 30% auto;
    padding: $s-size;
    background-color: $dak-green;
    text-align: center;
}

