.weather-container {
    display: flow;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between; 
    height: 100%;
    margin: 0;
    padding: 0;
}

.title {
    display: flow;
    flex-flow: column wrap;
    background-color: $off-black;
    height: 100%;
    border-radius: $m-size;
    flex-grow: 1;

}

.title-header {
    color: white;
    font-size: $l-size;
    text-shadow: 3px 1px 4px rgba(0, 0, 0, 0.219);
    width: 80%;
    margin: 30% auto;
    padding: $s-size;
    background-color: $dak-green;
    text-align: center;
}


.weather {
    height: 45%;
    margin-bottom: 20%;
}

.weather-data {
    color: darken($blue, 20);
    font-size: $m-size;
    margin-bottom: 4%;
    border-bottom: 1px solid $blue;
    width: 90%;
    margin-left: 5%;
}
