
$off-black: #4A4D56;
$light-grey: #93989B;
$green: #6699A3;
$dak-green: #698D9B;
$off-white: rgb(197, 233, 238);
$blue: #55768C;
//spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2.5rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;

